#elmNavbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 20rem;
}

nav a {
    color: #fff;
    margin-left: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

nav a:hover {
    color: #FFCA02;
}